/* -------- styles for examples --------*/

body {
    font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
    line-height: 1.4em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-align: center;
}

/* ------- custom theme for jquery tabs ------*/

.jq-tab-custom .jq-tab-menu .jq-tab-title {
    background: #d89839;
    color: #fff;
}

.jq-tab-custom .jq-tab-menu .jq-tab-title:hover,
.jq-tab-custom .jq-tab-menu .jq-tab-title.active {
    background: #c98623;
    border-left: none;
    font-weight: bold;
}

.jq-tab-custom .jq-tab-content-wrapper {
    border: 1px solid #c5c5c5;
    color: #333;
    font-size: 0.9em;
    line-height: 2em;
    padding: 0em 2.5em 2em;
}