// selectors
$mainWrapper: ".jq-tab-wrapper";
$tabMenu: ".jq-tab-menu";
$tab: ".jq-tab-title";
$contentWrapper: ".jq-tab-content-wrapper";
$tabContent: ".jq-tab-content";
// properties
$tabBorder: 1px solid #d1d1d1;
$tabBgColor: #d7d7d7;
$activeTabBorder: 1px solid #505050;
$activeTabBgColor: #e4e4e4;
$mainPadding: 1em;
$tabTitlePadding: 1em 2em;
$tabContentPadding: 1em 1.8em;